In [50]:
import numpy as np
import matplotlib.pyplot as pyplot
import pandas as pd
import seaborn as sns
import os
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [61]:
#checking which columns have missing values
data = pd.read_csv('/home/thedarkcoder/Desktop/Projects/51 days of ML/data_collection_and_preprocessing/hotel_bookings.csv')
data.count()

hotel                             119390
is_canceled                       119390
lead_time                         119390
arrival_date_year                 119390
arrival_date_month                119390
arrival_date_week_number          119390
arrival_date_day_of_month         119390
stays_in_weekend_nights           119390
stays_in_week_nights              119390
adults                            119390
children                          119386
babies                            119390
meal                              119390
country                           118902
market_segment                    119390
distribution_channel              119390
is_repeated_guest                 119390
previous_cancellations            119390
previous_bookings_not_canceled    119390
reserved_room_type                119390
assigned_room_type                119390
booking_changes                   119390
deposit_type                      119390
agent                             103050
company                             6797
days_in_waiting_list              119390
customer_type                     119390
adr                               119390
required_car_parking_spaces       119390
total_of_special_requests         119390
reservation_status                119390
reservation_status_date           119390
dtype: int64

In [62]:
#Dropping the company column as lot of missing data
data.drop(['company'], axis=1, inplace=True)
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [63]:
#Checking the number of missing values in children, country and agent column
print(data['children'].isnull().sum())
print(data['country'].isnull().sum())
data['agent'].isnull().sum()

4
488

16340

In [64]:
#Removing the rows with missing values
count = []
for pos, i in enumerate(data['children']):
    if str(i) == 'nan':
        count.append(pos)
for pos, i in enumerate(data['country']):
    if str(i) =='nan' and pos not in count:
        count.append(pos)
data.drop(count)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [65]:
#Checking the data format
for i, col in enumerate(data.columns):
    print(data[col].value_counts(), i)

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64 0
0    75166
1    44224
Name: is_canceled, dtype: int64 1
0      6345
1      3460
2      2069
3      1816
4      1715
       ...
458       1
371       1
737       1
435       1
387       1
Name: lead_time, Length: 479, dtype: int64 2
2016    56707
2017    40687
2015    21996
Name: arrival_date_year, dtype: int64 3
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: arrival_date_month, dtype: int64 4
33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
Name: arrival_date_week_number, dtype: int64 5
17    4406
5     4317
15    4196
25    4160
26    4147
9     4096
12    4087
16    4078
2     4055
19    4052
20    4032
18    4002
24    3993
28    3946
8     3921
3     3855
30    3853
6     3833
14    3819
27    3802
21    3767
4     3763
13    3745
7     3665
1     3626
23    3616
11    3599
22    3596
29    3580
10    3575
31    2208
Name: arrival_date_day_of_month, dtype: int64 6
0     51998
2     33308
1     30626
4      1855
3      1259
6       153
5        79
8        60
7        19
9        11
10        7
12        5
13        3
16        3
14        2
18        1
19        1
Name: stays_in_weekend_nights, dtype: int64 7
2     33684
1     30310
3     22258
5     11077
4      9563
0      7645
6      1499
10     1036
7      1029
8       656
9       231
15       85
11       56
19       44
12       42
20       41
14       35
13       27
16       16
21       15
22        7
18        6
25        6
30        5
17        4
24        3
40        2
42        1
26        1
32        1
33        1
34        1
35        1
41        1
50        1
Name: stays_in_week_nights, dtype: int64 8
2     89680
1     23027
3      6202
0       403
4        62
26        5
27        2
20        2
5         2
55        1
50        1
40        1
10        1
6         1
Name: adults, dtype: int64 9
0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64 10
0     118473
1        900
2         15
10         1
9          1
Name: babies, dtype: int64 11
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: meal, dtype: int64 12
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
SDN        1
PLW        1
AIA        1
VGB        1
BHS        1
Name: country, Length: 177, dtype: int64 13
Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64 14
TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64 15
0    115580
1      3810
Name: is_repeated_guest, dtype: int64 16
0     112906
1       6051
2        116
3         65
24        48
11        35
4         31
26        26
25        25
6         22
19        19
5         19
14        14
13        12
21         1
Name: previous_cancellations, dtype: int64 17
0     115770
1       1542
2        580
3        333
4        229
       ...
47         1
36         1
49         1
50         1
63         1
Name: previous_bookings_not_canceled, Length: 73, dtype: int64 18
A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: reserved_room_type, dtype: int64 19
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64 20
0     101314
1      12701
2       3805
3        927
4        376
5        118
6         63
7         31
8         17
9          8
10         6
13         5
14         5
15         3
11         2
12         2
16         2
17         2
20         1
18         1
21         1
Name: booking_changes, dtype: int64 21
No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64 22
9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
         ...
213.0        1
433.0        1
197.0        1
367.0        1
337.0        1
Name: agent, Length: 333, dtype: int64 23
0      115692
39        227
58        164
44        141
31        127
        ...
175         1
117         1
89          1
92          1
183         1
Name: days_in_waiting_list, Length: 128, dtype: int64 24
Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64 25
62.00     3754
75.00     2715
90.00     2473
65.00     2418
0.00      1959
          ...
202.74       1
87.64        1
69.83        1
160.83       1
35.64        1
Name: adr, Length: 8879, dtype: int64 26
0    111974
1      7383
2        28
3         3
8         2
Name: required_car_parking_spaces, dtype: int64 27
0    70318
1    33226
2    12969
3     2497
4      340
5       40
Name: total_of_special_requests, dtype: int64 28
Check-Out    75166
Canceled     43017
No-Show       1207
Name: reservation_status, dtype: int64 29
2015-10-21    1461
2015-07-06     805
2016-11-25     790
2015-01-01     763
2016-01-18     625
              ...
2015-03-28       1
2015-02-06       1
2015-04-25       1
2015-01-29       1
2015-01-28       1
Name: reservation_status_date, Length: 926, dtype: int64 30

In [66]:
#Encoding categorical data using LabelEncoder
le = LabelEncoder()
data["hotel"] = le.fit_transform(data["hotel"])
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,1,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,1,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,1,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,1,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,1,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [67]:
#Encoding data with One Hot Encoder
#Encoded table are meal, market_segment, distribution channel, deposit_type, customer_type, reservation_status
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [12, 14, 15, 22, 25, 29])], remainder='passthrough')
data = np.array(ct.fit_transform(data))

In [68]:
data.shape

(119390, 53)

In [69]:
#Filling Missing values in agent column with 'most frequent' value
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data = imputer.fit_transform(data)

In [70]:
data[0]

array([1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,
       1.0, 0.0, 1, 0, 342, 2015, 'July', 27, 1, 0, 0, 2, 0.0, 0, 'PRT',
       0, 0, 0, 'C', 'C', 3, 9.0, 0, 0.0, 0, 0, '2015-07-01'],
      dtype=object)

In [71]:
data

array([[1.0, 0.0, 0.0, ..., 0, 0, '2015-07-01'],
       [1.0, 0.0, 0.0, ..., 0, 0, '2015-07-01'],
       [1.0, 0.0, 0.0, ..., 0, 0, '2015-07-02'],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 4, '2017-09-07'],
       [1.0, 0.0, 0.0, ..., 0, 0, '2017-09-07'],
       [0.0, 0.0, 1.0, ..., 0, 2, '2017-09-07']], dtype=object)